@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
  background: #555;
  font-family: 'Quicksand', sans-serif;

}

table{
  border-collapse: collapse;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
  background: #fff;
}
td {
  width : 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  cursor: pointer;
  text-shadow: 3px 3px 5px rgba(0,0,0,.3);
  
}
center {
  margin-top : 50px;
}
h1 {
  color: white;
  margin:30px;
}
h1 strong {
  background: #fff;
  padding : 5px;
  font-size: 30px;
  border-radius: 5px;
}
h1 span {
  font-size: 35px;

}